aiofiles==24.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio @ file:///Users/ec2-user/croot/anyio_1773134411584/work
appnope @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_46iquy4y0r/croot/appnope_1750774774351/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067824920/work
argon2-cffi-bindings @ file:///opt/miniconda3/conda-bld/argon2-cffi-bindings_1757924854450/work
asttokens @ file:///Users/ec2-user/croot/asttokens_1773135889661/work
async-lru @ file:///opt/miniconda3/conda-bld/async-lru_1761121449029/work
attrs @ file:///opt/miniconda3/conda-bld/attrs_1762356972456/work
babel @ file:///opt/miniconda3/conda-bld/babel_1764159382137/work
beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1770291772626/work
bleach @ file:///opt/miniconda3/conda-bld/bleach_1764153567981/work
brotli==1.2.0
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161648/work
certifi @ file:///Users/ec2-user/croot/certifi_1767659246487/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832774705/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744820108/work
click @ file:///opt/miniconda3/conda-bld/click_1764332241191/work
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153703/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643921048/work
cycler @ file:///Users/ec2-user/croot/cycler_1766067937020/work
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421636036/work
decorator @ file:///opt/miniconda3/conda-bld/decorator_1757341235959/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///opt/miniconda3/conda-bld/executing_1757061235776/work
fastapi==0.135.2
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718719073/work
ffmpy==1.0.0
filelock==3.25.2
fonttools @ file:///opt/miniconda3/conda-bld/fonttools_1765445183405/work
fsspec==2026.2.0
gradio==6.9.0
gradio_client==2.3.0
groovy==0.1.2
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931260823/work
hf-xet==1.4.2
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187197/work
huggingface_hub==1.7.2
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005314/work
ipykernel @ file:///Users/ec2-user/croot/ipykernel_1772612352018/work
ipython @ file:///Users/ec2-user/croot/ipython_1773317840347/work
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
ipywidgets @ file:///Users/ec2-user/croot/ipywidgets_1771500030517/work
jedi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_38ctoinnl0/croot/jedi_1733987402850/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
joblib @ file:///Users/ec2-user/croot/joblib_1767868074826/work
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718553673/work
jsonschema @ file:///Users/ec2-user/croot/jsonschema_1767955668868/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788416887/work
jupyter @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4eoc_4jij1/croot/jupyter_1737645814862/work
jupyter-console @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_62liw5pns2/croot/jupyter_console_1679999641189/work
jupyter-events @ file:///opt/miniconda3/conda-bld/jupyter_events_1765813598965/work
jupyter-lsp @ file:///Users/ec2-user/croot/jupyter-lsp_1769773369838/work
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1768399009291/work
jupyter_core @ file:///opt/miniconda3/conda-bld/jupyter_core_1764588284546/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1769613379882/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289362611/work
jupyterlab @ file:///Users/ec2-user/croot/jupyterlab_1770213014676/work
jupyterlab_pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42uijy7nfe/croot/jupyterlab_pygments_1741124161488/work
jupyterlab_server @ file:///Users/ec2-user/croot/jupyterlab_server_1769629825077/work
jupyterlab_widgets @ file:///Users/ec2-user/croot/jupyterlab_widgets_1771492388708/work
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159426452/work
markdown-it-py==4.0.0
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
matplotlib==3.10.8
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779171588/work
mdurl==0.1.2
mistune @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5be80wp982/croot/mistune_1741123981908/work
nbclient @ file:///Users/ec2-user/croot/nbclient_1771577055159/work
nbconvert @ file:///Users/ec2-user/croot/nbconvert-meta_1772121292034/work
nbformat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2cv_qoc1gw/croot/nbformat_1728049423516/work
nest-asyncio @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_310vb5e2a0/croot/nest-asyncio_1708532678212/work
nltk @ file:///Users/ec2-user/croot/nltk_1772491123768/work
notebook @ file:///Users/ec2-user/croot/notebook_1770289378396/work
notebook_shim @ file:///Users/ec2-user/croot/notebook-shim_1769629836827/work
numpy @ file:///Users/ec2-user/croot/numpy_and_numpy_base_1773996237704/work/dist/numpy-2.4.3-cp311-cp311-macosx_12_0_arm64.whl#sha256=57bbb70a0322a4b29b5cde87c8aebc7ba5f3562d78750685cc2207d91acc4b76
orjson==3.11.7
overrides @ file:///opt/miniconda3/conda-bld/overrides_1762349088711/work
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079066/work
pandas @ file:///Users/ec2-user/croot/pandas_1773246071761/work
pandocfilters @ file:///opt/miniconda3/conda-bld/pandocfilters_1756977617494/work
parso @ file:///opt/miniconda3/conda-bld/parso_1762781703292/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535935939/work
pillow @ file:///Users/ec2-user/croot/pillow_1772475248595/work
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1773652975053/work
prometheus_client @ file:///Users/ec2-user/croot/prometheus_client_1772733395814/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744881146/work
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896323688/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///opt/miniconda3/conda-bld/pure_eval_1757067067189/work
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496044852/work
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
Pygments @ file:///opt/miniconda3/conda-bld/pygments_1762431577787/work
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973786267/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010242/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590078674/work
python-multipart==0.0.22
pytz==2026.1.post1
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492937/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375616040/work
qtconsole @ file:///Users/ec2-user/croot/qtconsole_1771498708443/work
QtPy @ file:///opt/miniconda3/conda-bld/qtpy_1757531017820/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536886664/work
regex @ file:///Users/ec2-user/croot/regex_1772652309222/work
requests @ file:///opt/miniconda3/conda-bld/requests_1762359591792/work
rfc3339-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_76ae5cu30h/croot/rfc3339-validator_1683077051957/work
rfc3986-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d0l5zd97kt/croot/rfc3986-validator_1683058998431/work
rich==14.3.3
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366478996/work
safehttpx==0.1.7
scikit-learn @ file:///Users/ec2-user/croot/scikit-learn_1766097961875/work
scipy @ file:///Users/ec2-user/croot/scipy_1773254227980/work/dist/scipy-1.17.1-cp311-cp311-macosx_12_0_arm64.whl#sha256=00d9d9b6daee4fa35c503ce38a1b7213f67c8286383b1dc001873029c1b5be25
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_74n8m1zz4r/croot/seaborn_1749110344248/work
semantic-version==2.10.0
Send2Trash @ file:///Users/ec2-user/croot/send2trash_1768170599579/work
shellingham==1.5.4
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
soupsieve @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9798xzs_03/croot/soupsieve_1696347567192/work
stack_data @ file:///opt/miniconda3/conda-bld/stack_data_1757067039886/work
starlette==0.52.1
terminado @ file:///Users/ec2-user/croot/terminado_1769591692049/work
threadpoolctl @ file:///opt/miniconda3/conda-bld/threadpoolctl_1764361580622/work
tinycss2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_47tkvt_wcv/croot/tinycss2_1738338622484/work
tomlkit==0.13.3
tornado @ file:///Users/ec2-user/croot/tornado_1765992648472/work
tqdm @ file:///Users/ec2-user/croot/tqdm_1771398704499/work
traitlets @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_500m2_1wyk/croot/traitlets_1718227071952/work
typer==0.24.1
typing-inspection==0.4.2
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1767810410716/work
uvicorn==0.42.0
wcwidth @ file:///Users/ec2-user/croot/wcwidth_1767780856263/work
webencodings==0.5.1
websocket-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d37u7gqts8/croot/websocket-client_1715878310260/work
widgetsnbextension @ file:///opt/miniconda3/conda-bld/widgetsnbextension_1761556742499/work
wordcloud==1.9.6
